---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import Tags from "../components/Tags.astro";
import getTags from "../scripts/getTags";

const posts = await getCollection("posts");
const allTags = getTags(posts);

type PostData = CollectionEntry<"posts">["data"];

interface Props {
	content: PostData;
}

const {
	content: { title, description, added, updated, tags, heroImage },
} = Astro.props;

const addedDate = new Date(added).toLocaleDateString(
	"en-us",
	{
		year: "numeric",
		month: "short",
		day: "numeric",
	}
);

const updatedDate = updated
	? new Date(updated).toLocaleDateString(
		"en-us",
		{
			year: "numeric",
			month: "short",
			day: "numeric",
		}
	)
	: undefined;
---

<html lang="en-us">
	<BaseHead title={title} description={description} />

	<body>
		<Header />
		<main>
			<article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="article-title">{title}</h1>
				{updatedDate ?
					<span><time>{addedDate}</time>, last updated on <time>{updatedDate}</time></span>
					:
					<span>{addedDate && <time>{addedDate}</time>}</span>
				}
				<Tags tags={tags} />
				<hr />
				<div class="blog-post">
					<slot />
				</div>
			</article>
		</main>
		<Tags tags={allTags} all />
		<Footer />
		<ColorScript />
	</body>
</html>
